In [1]:
import pandas as pd

In [2]:
school_data_to_load='Resources/schools_complete.csv'
student_data_to_load='Resources/students_complete.csv'

In [3]:
sch_df=pd.read_csv(school_data_to_load)
sch_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
sch_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
sch_df.tail()

    School ID            school_name      type  size   budget
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [6]:
stu_df=pd.read_csv(student_data_to_load)
stu_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [7]:
sch_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [8]:
stu_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [76]:
stu_count=stu_df['student_name'].count()
stu_count

39170

In [9]:
stu_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [10]:
stu_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [11]:
stu_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [12]:
sch_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [79]:
sch_tot=sch_df['school_name'].count()
sch_tot

15

In [13]:
#add each prefix and suffix that you want gone to a list, and **include a space after prefixes and before suffixes**
pre_suf=['Dr. ','Mr. ','Mrs.','Ms. ','Miss ',' MD',' DDS',' DVM',' PhD']

In [14]:
#use the pre_suf list to replace names in the original stu_df dataframe
for word in pre_suf:
    stu_df['student_name']=stu_df['student_name'].str.replace(word,'')
stu_df.head(10)

C:\Users\timot\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [15]:
#merge the data into a single dataset
complete_data_df=pd.merge(stu_df,sch_df,on=['school_name','school_name'])
complete_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [20]:
#get the total number of students
stu_tot=complete_data_df['Student ID'].count()
stu_tot

39170

In [22]:
#get total number of schools using the unique function
sch_count=complete_data_df['school_name'].unique()
sch_count

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [23]:
len(sch_count)

15

In [26]:
#calc total budget
tot_budget=sch_df['budget'].sum()
print(f'{tot_budget:,}')

24,649,428

In [32]:
#calc average reading score
ave_read=complete_data_df['reading_score'].mean()
print(f'{ave_read:.2f}')

81.88

In [33]:
#calc average math score
ave_math=complete_data_df['math_score'].mean()
print(f'{ave_math:.2f}')

78.99

In [35]:
pass_math=complete_data_df['math_score']>=70
pass_read=complete_data_df['reading_score']>=70

In [36]:
pass_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [39]:
len(pass_math)

39170

In [40]:
#get the math passers onto a new dataframe
pass_math_df=complete_data_df[complete_data_df['math_score']>=70]
pass_math_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [44]:
#get the readers onto their own dataframe
pass_read_df=complete_data_df[complete_data_df['reading_score']>=70]
pass_read_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [46]:
pass_math_df['Student ID'].count()

29370

In [47]:
len(pass_math_df)

29370

In [48]:
math_count=pass_math_df['Student ID'].count()
read_count=pass_read_df['Student ID'].count()
print(math_count)
print(read_count)

29370
33610

In [50]:
pass_math_pct=math_count/float(stu_tot)*100
pass_read_pct=read_count/float(stu_tot)*100
print(f'{pass_math_pct:.2f}')
print(f'{pass_read_pct:.2f}')

74.98
85.81

In [65]:
pass_both=complete_data_df[(complete_data_df['reading_score']>=70) & (complete_data_df['math_score']>=70)]
pass_both.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [66]:
len(pass_both)

25528

In [68]:
pass_both_count=pass_both['student_name'].count()

In [69]:
pass_both_count

25528

In [72]:
pass_both_pct=pass_both_count/stu_tot*100
print(f'{pass_both_pct:.2f}')

65.17

In [73]:
stu_tot.dtype

dtype('int32')

In [80]:
summary_df=pd.DataFrame(
[{'Total Schools':sch_tot,
'Total Student':stu_tot,
'Total Budget':tot_budget,
 'Average Math Score':ave_math,
 'Average Reading Score':ave_read,
 '% Passing Math':pass_math_pct,
 '% Passing Reading':pass_read_pct,
 '% Passing Both':pass_both_pct}])
summary_df

,Total Schools,Total Student,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
.